@import "select";


.Select {
  border: none;
  .Select-arrow{
    border: none;
    content: " ";
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 6px;
    line-height: 22px;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    //border: 1px solid #d6b864;
    cursor: pointer;
    &:before {
      content: "\e603";
    }
  }
  .Select-placeholder{
    font-size: 17px;
    text-transform: uppercase;
    padding: 10px;
    text-align: center;
  }
}
