// 
// Mixins
// ------------------------------


// Utilities

@mixin size($width, $height)
{
  width: $width;
  height: $height;
}
@mixin square($size)
{
  @include size($size, $size);
}
@mixin border-top-radius($radius)
{
  border-top-right-radius: $radius;
   border-top-left-radius: $radius;
}
@mixin border-right-radius($radius)
{
  border-bottom-right-radius: $radius;
     border-top-right-radius: $radius;
}
@mixin border-bottom-radius($radius)
{
  border-bottom-right-radius: $radius;
   border-bottom-left-radius: $radius;
}
@mixin border-left-radius($radius)
{
  border-bottom-left-radius: $radius;
     border-top-left-radius: $radius;
}


// Vendor Prefixes

@mixin animation($animation)
{
  -webkit-animation: $animation;
       -o-animation: $animation;
          animation: $animation;
}
@mixin transform($transform)
{
  -webkit-transform: $transform;
     -moz-transform: $transform;
      -ms-transform: $transform;
          transform: $transform;
}
@mixin rotate($degrees)
{
  -webkit-transform: rotate($degrees);
      -ms-transform: rotate($degrees); // IE9 only
       -o-transform: rotate($degrees);
          transform: rotate($degrees);
}
