/**
 * React Select
 * ============
 * Created by Jed Watson and Joss Mackison for KeystoneJS, http://www.keystonejs.com/
 * https://twitter.com/jedwatson https://twitter.com/jossmackison https://twitter.com/keystonejs
 * MIT License: https://github.com/keystonejs/react-select
*/

// Variables
// ------------------------------

$select-input-bg:                  #fff;
$select-text-color:                #333;
$select-input-border-color:        transparent;
$select-input-border-radius:       4px;
$select-input-placeholder:         #000;
$select-input-border-focus:        transparent; // blue

$select-padding-vertical:          8px;
$select-padding-horizontal:        10px;

$select-arrow-color:               #999;
$select-arrow-width:               5px;

$select-menu-zindex:               1000;
$select-menu-max-height:           200px;

$select-option-color:              lighten($select-text-color, 20%);
$select-option-focused-color:      $select-text-color;
$select-option-focused-bg:         #dedede; // pale blue
$select-option-disabled-color:     lighten($select-text-color, 60%);

$select-noresults-color:           lighten($select-text-color, 40%);

$select-clear-color:               #999;
$select-clear-hover-color:         #c0392b; // red

$select-item-border-radius:        2px;
$select-item-gutter:               2px;
$select-item-padding-vertical:     3px;
$select-item-padding-horizontal:   5px;
$select-item-font-size:            1em;
$select-item-color:                #000; // pale blue
$select-item-bg:                   #dedede;
$select-item-border-color:         transparent;//darken($select-item-bg, 10%);
$select-item-hover-color:          transparent;//darken($select-item-color, 5%); // pale blue
$select-item-hover-bg:             transparent;//darken($select-item-bg, 5%);
$select-item-disabled-color:       #888;
$select-item-disabled-bg:          #f2f2f2;
$select-item-disabled-border-color: transparent;//darken($select-item-disabled-bg, 10%);


@import "mixins.scss";
@import "spinner.scss";
@import "control.scss";
@import "menu.scss";
@import "multi.scss";
