$gray-base:              #000;
$gray-darker:            lighten($gray-base, 13.5%); // #222
$gray-dark:              lighten($gray-base, 20%);   // #333
$gray:                   lighten($gray-base, 33.5%); // #555
$gray-light:             lighten($gray-base, 46.7%); // #777
$gray-lighter:           lighten($gray-base, 93.5%); // #eee


$text-color:                $gray-dark;

$border-radius:             4px;
$border-radius-sm:          3px;

$btn-bg:                    #fff;
$btn-color:                 #333;
$btn-border:                #ccc;

$state-bg-select:           darken($btn-border, 12%);
$state-border-select:       darken($btn-border, 12%);
$state-color-select:        #333;

$state-bg-hover:            darken($btn-bg, 10%);
$state-border-hover:        darken($btn-border, 12%);
$state-color-hover:         #333;

$state-bg-focus:            $widget-bg;
$state-border-focus:        #66afe9;
$state-color-focus:         #333;

$widget-bg:                 #fff;
$widget-border:             #ccc;
$line-height:               1.429em;

$input-color:               $gray;
$input-height:              2.286em;
$input-padding:             0.429em 0.857em;
$input-bg:                  #fff;
$input-bg-disabled:         $gray-lighter;

$input-bg-gradient:         none;
$input-color-placeholder:   #999;

$input-border-radius:       $border-radius;
$input-border:              #ccc;
$input-border-width:        1px;

$input-bg-hover:            $gray-lighter;
$input-border-hover:        $dropdown-border;  

$input-border-focus:        $state-border-focus; 

$dropdown-bg:               $input-bg;
$dropdown-border:           $input-border;

$list-bg-hover:             $state-bg-hover;
$list-border-hover:         $state-border-hover;

$popup-bg:                  $widget-bg;
$popup-border:              $widget-border;
$popup-zindex:              1005;