/* EXTERNAL DEPENDENCIES */
@import "vendor/normalize";
@import "vendor/modular-scale";

/* CONFIG AND OVERRIDES */
@import "config";

@import "shims";

@import "utils/mixins";
@import "utils/placeholders";

@import "typography";

@import "common/header";
@import "common/footer";

@import "common/elements"; // Base reset per our design

@import "common/forms";
@import "common/buttons";
@import "select/default";
@import "geosuggest/suggest";
@import "burger/style";

html,body {
    height: 100%;
}
body:before,#content:before{
//     background: url('../assets/img/starsmilebg.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;

}
body{
//     background: #091630; /* Old browsers */
//     background: -moz-linear-gradient(top, #091630 1%, #2989d8 20%, #ffffff 65%, #ffffff 100%); /* FF3.6-15 */
//     background: -webkit-linear-gradient(top, #091630 1%,#2989d8 20%,#ffffff 65%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
//     background: linear-gradient(to bottom, #091630 1%,#2989d8 20%,#ffffff 65%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
//     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#091630', endColorstr='#ffffff',GradientType=0 );
    font-family: $base-font;
    font-size: 15px;
    margin: 0px;
    &:before{
        content: '';
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-repeat: no-repeat;
    }
}
#main {
    height: 100%;
//     margin: 50px 100px 0px 100px;
}
#content-container{
    height: 100%;
}
#content {
background: rgba(255,255,255,0.7);
position: relative;
top: 55px;
overflow-x: hidden;
}
#content:before{
    content: '';
    top: 0px;
    left: 0px;
    z-index:0;
    height: 100%;
    width: 100%;
    display: block;
//     background: rgba(255,255,255,0.7);
    opacity: 0.7;
    position: fixed;
   -webkit-filter: url('#blur');
    filter: url('#blur');
    -webkit-filter: blur(5px);
    filter: blur(5px);
}

.cols {
    @include make-xs-column(12);
    @include make-sm-column(5);
}
.3cols{
    @include make-xs-column(12);
    @include make-sm-column(3);
}
.formgroup2 {
    @include make-xs-column(12);
    &:before{
        content:'';
        @include make-sm-column(1);
//         @include visible
   }
   &:after{
       content:'';
       @include make-sm-column(2);
   }
}
.formgroup1 {
    @include make-xs-column(12);
    &:before{
        content:'';
        @include make-sm-column(1);
//         @include visible
   }
   &:after{
       content:'';
       @include make-sm-column(1);
   }
}
label{
    text-align: center;
    font-size: 25px;
    color: #fff;
    margin-top: 15px;
}
input, .geosuggest__input,.Select-control{
    height: 45px;
    border: 4px solid #A8ACB3;
    font-size: 20px;
    border-radius: 0px;
    font-weight: bold;
    text-align: center;
}
.Select-control{
    height: inherit;
}
h1 {
  position: absolute;
  left: 110px;
  top: 110px;
  color: #000;
}
.error{
    border-color: $red;
}
